.table-wrapper {
  padding: 15px;
}
.table-wrapper button {
  float: right;
  margin-bottom: 20px;
}
.ant-table {
  overflow-x: auto;
}
.ant-table-cell {
  max-width: 300px;
}
.last_login_col {
  white-space: nowrap;
}